.last-section{
 
    background-color: rgb(73, 71, 71);
    color: white;
    position: relative;
    top: 1000px ;
}
/* .footer-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
} */

.icon-class i{
    color: goldenrod;

}
.icon-class a{
    text-decoration: none;
    color: white;
}
.icon-class a:hover{
color: goldenrod;
}